@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* TITLES */

h1 {
    font: 600 2.5rem/1em 'Crimson Pro', serif;
}

h2 {
    font: 500 2rem/1em 'Crimson Pro', serif;
}

h4 {
    font: 700 1.3rem/1em 'Crimson Pro', serif;
}

/* CORPO */

body {
    font: 400 1rem/1.5em 'Poppins', sans-serif;
}

/* Links */

a {
    text-decoration: none;
    color: crimson;
    font: 400 1rem/1.5em 'Poppins', sans-serif;
    transition: 300ms;
}

a:hover {
    text-decoration: underline;
    color: rgb(220, 20, 193);
}

a:active {  
    color: crimson;
}

/* MEDIA */

@media screen and (max-width: 500px) {

    body {
        font-size: 0.875rem;
    }
}