@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&subset=latin-ext');


/* CARDS */

body {
    padding: 100px 0;
    background-color: #333;
}

.content p {
    text-align: justify;
    color: #fff;
}

img {
    width: 100%;
    vertical-align: middle;
}

.card-item img {
    display: block;
}

.card-item {
    background-color: #272323;
}

.card-item a {
    display: flex;
    padding: 50px;
    overflow: hidden;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    color: #333;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    border-radius: 6px;
    margin-bottom: 50px;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.card-item a:hover {
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.card-item .icon {
    width: 35%;
    object-fit: cover;
    margin-right: 50px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 15px 26px rgba(0, 0, 0, 1);
}

.card-item .content {
    width: 65%;
}

.card-item .content .title {
    font-size: 21px;
    color: #25aae1;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}

.card-item .content .title:before {
    color: #2bb673;
    font-size: 25px;
    top: auto;
    position: relative;
    margin-right: 10px;
}

.card-item .content .rounded {
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rounded {
    width: 70px;
    height: 5px;
    border-radius: 6px;
    background-image: linear-gradient(to right, #25aae1, #40e495);
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {

    .card-item .content {
        width: 100%;
        margin-top: 35px;
    }

    .card-item .content .title {
        font-size: 18px;
    }

    .card-item .icon {
        width: 100%;
    }

    .card-item .icon img {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }

    .card-item {
        width: 92%;
        margin: auto;
    }

    .card-item a {
        display: block;
        padding: 30px;
    }

}


/* INTERACTIVE CARD */

.btn {
    border-radius: 2px;
    padding: 8px 12px;
    color: #D18B49;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s ease;
}

.card {
    background: #272323;
    max-width: 400px;
    margin: 100px auto;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-sizing: border-box;
    padding: 48px;
    text-align: center;
}

.products {
    position: relative;
    overflow: hidden;
    transition: 0.5s ease;
}

.product {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease;
}

.product.active {
    opacity: 1;
    visibility: visible;
}

.thumbnail {
    margin: 0 0 48px;
}

.title2 {
    margin: 0 0 12px;
    font-size: 24px;
    transition: 0.5s ease;
}

.title2 a {
    text-decoration: none;
    color: #D18B49;
}

.description {
    margin: 0 0 48px;
    color: #fff;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 -12px -12px;
}

[ripple] {
    z-index: 1;
    position: relative;
    overflow: hidden;
}

[ripple] .ripple {
    position: absolute;
    background: #FFFFFF;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    transform: scale(0);
    -webkit-animation: ripple 2s;
    animation: ripple 2s;
}

@-webkit-keyframes ripple {
    0% {
        transform: scale(0);
        opacity: 0.2;
    }

    100% {
        transform: scale(20);
        opacity: 0;
    }
}

@keyframes ripple {
    0% {
        transform: scale(0);
        opacity: 0.2;
    }

    100% {
        transform: scale(20);
        opacity: 0;
    }
}