/* TÍTULOS */

.div--text {
    text-align: justify;
}

.primary-h1 {
    text-decoration: underline;
}

.main-secundary .div--text {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main-secundary .div-h2 {
    text-align: justify;
    margin-bottom: 3%;
}

/* CORPO */

.main-primary div:nth-child(3) {
    background-color: lightgray;
}

.div--text {
    margin: 1%;
}

.div-img {
    height: 250px;
    margin: 2%;
}

.img-primary {
    width: 20vw;
    height: auto;
}

.main--container {
    margin-top: 1%;
    margin-bottom: 1%;
    display: grid;
    grid-template-columns: 58% 2% 38%;
}

.main-division {
    display: left;
}

.division-line {
    background: black;
    height: 100%;
    width: 2px;
}

.main-primary, .main-secundary {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.section-divs {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 1245px) {
    .main--container {
        grid-template-columns: 1fr;
    }
    .img-primary {
        width: 30vw;
    }
}

@media only screen and (max-width: 650px) {
    .img-secundary {
        display: none;
    }

    .section-divs {
        flex-wrap: wrap;
    }

    .img-primary {
        width: 60vw;
    }

    .primary-div--1, .primary-div--2 {
        justify-content: center;
    }

    .primary-div--2 {
        flex-direction: column-reverse;
    }

    .div--text--1 {
        margin-left: 6px;
        margin-right: 6px;
    }
}

/* Links */



/* IMPORTANTE */

