@charset "UTF-8";

@import url(header/header.css);
@import url(footer/footer.css);
@import url(fonts/fonts.css);

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.w-fill {
    width: 100%;
}

.h-fill {
    height: 100%;
}

.sr-only {
    display: none;
}

.disable {
    display: none !important;
}

/* MEDIA */

@media screen and (max-width: 1024px){
    .disable-mobile {
        display: none;
    }
}